<style>
.ivu-table td, .ivu-table th {
    min-width: 0;
    height: 18px;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #e8eaec;
}
</style>
<template>
<div>
     <Breadcrumb>
                <Breadcrumb-item href="#">首页</Breadcrumb-item>
                <Breadcrumb-item href="#">建筑设备</Breadcrumb-item>
                <Breadcrumb-item>输油管线</Breadcrumb-item>
      </Breadcrumb>

    <i-table width="100%" 
    border
    :columns="columns" 
    :data="data" 
    :highlight-row="true"
  ></i-table>


   <Page :total="Page_total" :page-size='row_num'  @on-change="change_page" />
</div>
</template>

<script>
  import {ue4} from "../../components/ue4/ue.js"
  export default {
    data () {
      return {
        columns: [
          // 1
          {
            title: 'pt1',
            key: 'pt1',
            width: 100,
          },
          // 2
          {
            title: 'x1',
            key: 'x1',
            width: 200,
          },
          // 3
          {
            title: 'y1',
            key: 'y1',
            width: 200,
          },
          // 4
          {
            title: 'z1',
            key: 'z1',
            width: 200,
          },
          // 5
          {
            title: 'tz1',
            key: 'tz1',
            width: 100,
          },
          // 6          
          {
            title: 'fsw1',
            key: 'fsw1',
            width: 100,
          },
          // 7
          {
            title: 'jgcz1',
            key: 'jgcz1',
            width: 100,
          },
          // 8
          {
            title: '起点埋深',
            key: 'StartPointDepth',
            width: 100,
          },
          // 9
          {
            title: 'pt2',
            key: 'pt2',
            width: 100,
          },
          // 10
          {
            title: 'x2',
            key: 'x2',
            width: 200,
          },
          //  11
          {
            title: 'y2',
            key: 'y2',
            width: 200,
          },
           //  12
          {
            title: 'z2',
            key: 'z2 ',
            width: 200,
          },
           //  13
          {
            title: 'tz2',
            key: 'tz2',
            width: 100,
          },
           //  14
          {
            title: '特征',
            key: 'fsw2',
            width: 100,
          },
           //  15
            {
            title: 'jgcz2',
            key: 'jgcz2',
            width: 100,
          },
           //  16
          {
            title: '终点埋深',
            key: 'EndPointDepth',
            width: 100,
          },
           //  17
          {
            title: '埋设方式',
            key: 'BuriedWay',
            width: 100,
          },
           //  18
          {
            title: '管材',
            key: 'Pipe',
            width: 100,
          },
           //  19
          {
            title: '规格',
            key: 'Specification',
            width: 100,
          },
             //  20
          {
            title: '街路名称',
            key: 'StreetName',
            width: 100,
          },
            //  21
          {
            title: '建设年代',
            key: 'ConstructionAge',
            width: 100,
          },

               //  22
          {
            title: '权属单位',
            key: 'OwnershipUnit',
            width: 300,
          },
             //  23
          {
            title: '埋深位置',
            key: 'BuriedDepth',
            width: 100,
          },
             //  24
          {
            title: '线型编码',
            key: 'LineCoding',
            width: 100,
          },
             //  25
          {
            title: '修改日期',
            key: 'Modifiedate',
            width: 100,
          },
             //  26
          {
            title: '备注',
            key: 'Remarks',
            width: 100,
          },
             //  27
          {
            title: 'SHAPE_Leng',
            key: 'SHAPE_Leng',
            width: 100,
          },
            //编辑
          {
            title: '编辑',
            key: 'action',
            width: 80,
            fixed: 'right',
            render: (h, params) => {
                return h('div',
                [
                   h('Button', {
                        props: {
                            type: 'info',
                            size: 'small'
                        },
                        on: {
                        click: () => {
                           locateBuilding(params.row.other)
                        }
                        }
                    }, '定位'),

                    // h('Button', {
                    //     props: {
                    //         type: 'info',
                    //         size: 'small'
                    //     },
                    //     on: {
                    //     click: () => {
                    //         if (params.row.$isEdit) {
                    //         this.handleSave(params.row)
                    //         } else {
                    //         this.handleEdit(params.row)
                    //         }
                    //     }
                    //     }
                    // }, params.row.$isEdit ? '保存' : '编辑'),

                    // h('i-button',{props: {
                    //     type: "error",
                    //     size: "small"
                    //     },
                    //     on: {
                    //     click: () => {
                    //         if (params.row.$isEdit) {
                    //         this.Cancel(params.row);

                    //         } else {
                    //         this.Delete(params.row);
                    //         }
                    //     }
                    // }},params.row.$isEdit ? '取消' : '删除')

                ])
            }
          }
        ],
        data: [],
        Page_total: 0 ,
        row_num:20,
        ue4
      }
    },

    created(){
              //打开 旋转加载
      this.$Spin.show();
      this.$http.get(this.$root.IP + "Tubing/?page=1&row_num=" + this.row_num, {
        params:{
        }
      }).then(res=>{
        this.$Spin.hide();
        this.data = res.data["data"];
        this.Page_total = res.data["Page_total"];
      })
    },
    methods: {
        // 页面修改
      change_page(i){
            //打开 旋转加载
            this.$Spin.show();
            this.$http.get(this.$root.IP + "Tubing/?page=" + i + "&row_num=" +  this.row_num, {
                params:{
                }
            }).then(res=>{
                this.$Spin.hide();
                this.data = res.data["data"];
                this.Page_total = res.data["Page_total"];
            })

      },
      locateBuilding( tag ){
        console.log(tag)
        this.ue4("print",tag)
      },

      handleEdit (row) {
      },
      handleSave (row) {
      }
    }
  }
</script>