<style scoped>
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-logo{
    width: 200px;
    height: 30px;
    background: #ffffff;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
}
.layout-nav{
    float: right;
    width: 100px;
}

.layout-title{
    text-align:center;
    margin: 0 auto;
    color:  #ffffff;
    font-size: 30px;
    
}

 .layout-con{
    height: 100%;
    width: 100%;
}
.menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}
.menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}

.collapsed-menu span{
    width: 0px;
    transition: width .2s ease;
}
.collapsed-menu .ivu-icon-ios-arrow-down{
    display: none;
}
.collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}
/* .ivu-menu-submenu{
    float: right;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    z-index: 3;
    transition: all .2s ease-in-out;
} */
</style>
<template>
    <div class="layout">
        <Layout >
            <Header>
                <Menu mode="horizontal" theme="dark" active-name="1">
                    <span  class="layout-title">航利航空管理后台</span>
                    <!--  头部面包屑  用户登陆章台   v-if="showPrise"-->

                    <div v-show="showPrise" class="layout-nav">
                        <Submenu name="0">
                            <template slot="title">
                                <Icon type="ios-contact" />
                            </template>
                            <MenuItem name="0-1" >个人信息</MenuItem>
                            <MenuItem name="0-2"  @click.native="DropOut">退出</MenuItem>
                        </Submenu>
                    </div> 

                </Menu>
            </Header>
            <!-- v-if -->
            <Layout :style="{minHeight: '100vh'}">
                <Sider v-show="showPrise" collapsible :collapsed-width="78" v-model="isCollapsed">
                    <Menu 
                        ref="leftmenu"
                        @on-select="isCollapsed=false" 
                        theme="dark"
                        width="auto" 
                        :active-name="activename"
                        :open-names="opennames"
                        :class="menuitemClasses">
                        <Submenu name="1">
                            <template slot="title">
                                <!-- <Icon type="ios-body"></Icon> -->
                                <span>建筑设备</span>
                            </template>
                            <MenuItem name="1-1" to="/Factor" @click.native="Hide_menu()">建筑列表</MenuItem>
                            <MenuItem name="1-2" to="/Device" @click.native="Hide_menu()">设备列表</MenuItem>
                        </Submenu>

                         <Submenu name="2">
                            <template slot="title">
                                <!-- <Icon type="ios-body"></Icon> -->
                                <span>管线</span>
                            </template>
                            <MenuItem name="2-1" to="/Tubing" @click.native="Hide_menu()">输油管线</MenuItem>
                            <MenuItem name="2-2" to="/Gaspipe" @click.native="Hide_menu()">煤气管线</MenuItem>
                            <MenuItem name="2-3" to="/Sewage" @click.native="Hide_menu()">污水管线</MenuItem>
                        </Submenu>


                    </Menu>
                </Sider>
                
                <!-- 镶嵌内容区域 -->
                <Layout>
                    
                    <!-- 切换显示状态：<i-switch @on-change="spinShow = !spinShow"></i-switch> -->
                    <router-view>
                    </router-view>
                </Layout>

            </Layout>

           
        </Layout>
    </div>
</template>
<script>
import util from '@/util'
    export default {
        data () {
            return {
                opennames:[],
                activename:"",
                showPrise:true, 
                isCollapsed: false,
                spinShow:true,
            };
        },
        created(){
            //  导航栏 展开 定位
            if(this.$route.meta && this.$route.meta.order)
            {

                this.activename = this.$route.meta.order;
                this.opennames.push(this.$route.meta.order.split("-")[0]);
            }
            this.$Message.success(this.$root.platform);
            // 判断PC 登陆还是 Web 登陆
            if(this.$root.platform == 'WEB')
            {
                this.showPrise = true;
            }else{
                 this.showPrise = false;
            }
        },
       
        methods:{
            Hide_menu() {
                // 判断PC 登陆还是 Web 登陆
                // this.$Message.success(this.$root.platform);
                if(this.$root.platform == 'WEB')
                {
                    this.showPrise = true;
                }else{
                    this.showPrise = false;
                    
                }
            },
            DropOut(){

                util.storage.remove('LoginUser');
                this.$router.push('/login');
            },

        },
        watch:{
            isCollapsed(val){
                if(val)
                this.opennames = [];
                this.$nextTick(()=>{
                    this.$refs.leftmenu.updateOpened();
                });
            }
        },
        computed: {
            menuitemClasses: function () {
                return [

                    'menu-item',
                    this.isCollapsed ? 'collapsed-menu' : ''

                ]
            }
        }
    }
</script>