<template>
    <div>
        
        <Poptip
            confirm
            title="是否要删除这条数据?"
            @on-ok="ok"
            @on-cancel="cancel">
            <Button>Delete</Button>
        </Poptip>

    </div>

</template>
<script>
    export default {
        methods: {
            ok () {
                this.$Message.info('You click ok');
            },
            cancel () {
                this.$Message.info('You click cancel');
            }
        }
    }
</script>
