<style>
.ivu-table td, .ivu-table th {
    min-width: 0;
    height: 20px;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #e8eaec;
}
.ivu-table-cell-with-expand {
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
}
</style>
<template>
<div>
    <Breadcrumb>
       <Breadcrumb-item href="#">首页</Breadcrumb-item>
       <Breadcrumb-item href="#">建筑设备</Breadcrumb-item>
       <Breadcrumb-item>设备列表</Breadcrumb-item>
    </Breadcrumb>


    <!-- <Spin size="large" fix v-if="spinShow"></Spin> -->

    <AutoComplete
      v-model="search_value"
      :data="search_data"
      @on-search="Search"
      placeholder="搜索内容"
      style="width:200px"></AutoComplete>
       <Button type="success" @click="bt_Search" >搜索</Button>

    <i-table width="100%" 
    border
    :columns="columns" 
    :data="data1" 
    :highlight-row="true"
    ></i-table>

   <Page :total="Page_total" :page-size='row_num'  @on-change="change_page" />
</div>
</template>

<script>
  import filemanage from './CE_File.vue';
  import {ue4} from "../../components/ue4/ue.js"
  import axios from "axios";
  export default {
     components: { filemanage },
    data () {
      return {
        columns: [
          // 展开
          {
              type: 'expand',
              width: 50,
              height: 40,
              render: (h, params) => {
                  return h(filemanage, {
                      props: {
                          row: params.row
                      }
                  })
              }
          },

          {
            title: '模型名',
            key: 'ModelName',
            width: 100,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.ModelName
                     },
                     on: {
                       input: function (event) {
                         params.row.ModelName = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.ModelName);
                 }
             }
          },
          // 2
          {
            title: '名字',
            key: 'name',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.name
                     },
                     on: {
                       input: function (event) {
                         params.row.name = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.name);
                 }
             }
          },
          // 3
          {
            title: '班组',
            key: 'team',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.team
                     },
                     on: {
                       input: function (event) {
                         params.row.team = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.team);
                 }
             }
          },
          // 4
          {
            title: '等级',
            key: 'level',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.level
                     },
                     on: {
                       input: function (event) {
                         params.row.level = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.level);
                 }
             }
          },
          // 5
          {
            title: '图伯',
            key: 'Thub',
            width: 400,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Thub
                     },
                     on: {
                       input: function (event) {
                         params.row.Thub = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Thub);
                 }
             }
          },
          // 6          
          {
            title: 'SM',
            key: 'SM',
            width: 400,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.SM
                     },
                     on: {
                       input: function (event) {
                         params.row.SM = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.SM);
                 }
             }
          },
          // 7
          {
            title: '序号',
            key: 'SerialNumber',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.SerialNumber
                     },
                     on: {
                       input: function (event) {
                         params.row.SerialNumber = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.SerialNumber);
                 }
             }
          },
          // 8
          {
            title: '模型名',
            key: 'UniformNumbers',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.UniformNumbers
                     },
                     on: {
                       input: function (event) {
                         params.row.UniformNumbers = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.UniformNumbers);
                 }
             }
          },
          // 9
          {
            title: '规格型号',
            key: 'specification',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.specification
                     },
                     on: {
                       input: function (event) {
                         params.row.specification = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.specification);
                 }
             }
          },
          // 10
          {
            title: '使用单位',
            key: 'UseUnit',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.UseUnit
                     },
                     on: {
                       input: function (event) {
                         params.row.UseUnit = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.UseUnit);
                 }
             }
          },
          //  11
          {
            title: '使用时间',
            key: 'TimeOfUse',
            width: 100,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.TimeOfUse
                     },
                     on: {
                       input: function (event) {
                         params.row.TimeOfUse = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.TimeOfUse);
                 }
             }
          },
           //  12
          {
            title: '制造厂名',
            key: 'ManufacturerName ',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.ManufacturerName
                     },
                     on: {
                       input: function (event) {
                         params.row.ManufacturerName = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.ManufacturerName);
                 }
             }
          },
           //  13
          {
            title: '校准设备',
            key: 'CalibrationEquipment',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.CalibrationEquipment
                     },
                     on: {
                       input: function (event) {
                         params.row.CalibrationEquipment = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.CalibrationEquipment);
                 }
             }
          },
           //  14
          {
            title: '重要设备',
            key: 'Importance',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Importance
                     },
                     on: {
                       input: function (event) {
                         params.row.Importance = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Importance);
                 }
             }
          },
           //  15
            {
            title: '重点保障设备',
            key: 'KeySupportEquipment',
            width: 200,
          },
           //  16
          {
            title: '主要设备',
            key: 'MajorEquipment',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.MajorEquipment
                     },
                     on: {
                       input: function (event) {
                         params.row.MajorEquipment = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.MajorEquipment);
                 }
             }
          },
           //  17
          {
            title: '自循环改造',
            key: 'SelfRecycling',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.SelfRecycling
                     },
                     on: {
                       input: function (event) {
                         params.row.SelfRecycling = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.SelfRecycling);
                 }
             }
          },
           //  18
          {
            title: '采样阀改造',
            key: 'SamplingValve',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.SamplingValve
                     },
                     on: {
                       input: function (event) {
                         params.row.SamplingValve = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.SamplingValve);
                 }
             }
          },
           //  19
          {
            title: '涉油设备',
            key: 'OilRelatedEquipment',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.OilRelatedEquipment
                     },
                     on: {
                       input: function (event) {
                         params.row.OilRelatedEquipment = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.OilRelatedEquipment);
                 }
             }
          },
             //  20
          {
            title: '油液设备',
            key: 'OilEquipment',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.OilEquipment
                     },
                     on: {
                       input: function (event) {
                         params.row.OilEquipment = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.OilEquipment);
                 }
             }
          },
          {
            title: '介质',
            key: 'Medium',
            width: 200,
              render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Medium
                     },
                     on: {
                       input: function (event) {
                         params.row.Medium = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Medium);
                 }
             }
          },

            //编辑
          {
            title: '编辑',
            key: 'action',
            width: 120,
            fixed: 'right',
            render: (h, params) => {
                return h('div',
                [
                    h('Button', {
                        props: {
                            type: 'info',
                            size: 'small'
                        },
                        on: {
                        click: () => {
                            if (params.row.$isEdit) {
                            this.handleSave(params.row)
                            } else {
                            this.handleEdit(params.row)
                            }
                        }
                        }
                    }, params.row.$isEdit ? '保存' : '编辑'),

                    h('Button', {
                        props: {
                          type: 'error',
                          size: 'small'
                        },
                        style: {
                            display : params.row.$isEdit === true ? "inline-block" : "none",
                        },
                        on: {
                          click: () => {
                             this.Cancel(params.row);
                          }
                        }
                    },'取消'),
                    h('Poptip',{props: {
                        transfer:true,
                        confirm:true,
                        title : "是否要删除此条信息?",
                        disabled : params.row.$isEdit,
                        },
                        style: {
                            display : params.row.$isEdit === true ? "none" : "inline-block",
                        },
                        on: {
                              'on-ok': () => {
                                  this.ok(params.row);
                              },

                              'on-cancel': ()=> {
                                  this.cancel();
                              }
                    }},
                    [
                      h('Button', {
                        props: {
                          type: 'error',
                          size: 'small'
                        },
                        on: {
                          click: () => {
                            if (params.row.$isEdit) {

                              this.Cancel(params.row);

                            } else {

                            }
                          }

                        }
                      }, params.row.$isEdit ? '取消' : '删除')
                    ]
                    
                    )

                ])
            }

          }
        ],
        data1: [],
        Page_total: 0 ,
        page:1,
        row_num:20,

        search_value: '',
        search_list: [],
        search_data: [],
        ue4
      }
    },

    created(){
      this.$Spin.show();
      this.$http.get(this.$root.IP + "Device/?page=1&row_num=" + this.row_num, {
        params:{
        }
      }).then(res=>{
        this.$Spin.hide();
        this.data1 = res.data["data"];
        this.Page_total = res.data["Page_total"];
        res.data["search_data"].map((item)=>{
            this.search_list.push(item.team)
        })

      })
    },

    methods: {

      ok (value) {
          this.Delete(value);
      },

      cancel () {
          // this.$Message.info('You click cancel');
      },
      


            // 选择搜索字段
      Search(value) {
        this.search_data.splice(0,this.search_data.length);
        this.search_list.map((item)=>{
          var reg = RegExp(''+ value +'');
          var End = reg.exec(item)
          if(End)
          {
              this.search_data.push(item);
          }
        })
      },
      //  搜索按钮
      bt_Search(){
        //打开 旋转加载
        this.$Spin.show();
        // 翻页 状态 变 搜索
        this.BrowseStatus = 'search'

        this.$http({
                url: this.$root.IP + "Device/",
                method: 'POST',
                data:this.$qs.stringify({
                    row_num: this.row_num,
                    type: this.BrowseStatus,
                    page:1,
                    value:this.search_value
                })
              }).then((res) => {
                  this.$Spin.hide();
                  if(res.data["code"] == 200)
                  {
                      this.data1 = res.data["data"];
                      this.Page_total = res.data["Page_total"];
                  }
                  else{
                      this.$Message.error(res.data["msg"]);
                  }

              }, (err) => {
        
              })

      },



    
      // 下一页
      change_page(i){
            //打开 旋转加载
            this.$Spin.show();
            this.page = i;
            this.$http.get(this.$root.IP + "Device/?page="+i +"&row_num=" + this.row_num, {
                params:{
                }

            }).then(res=>{
                //打开 旋转加载
                this.$Spin.hide();
                this.data1 = res.data["data"];
                this.Page_total = res.data["Page_total"];
            })

      },

      locateBuilding( tag ){
        console.log(tag)
        this.ue4("print",tag)
      },
      handleEdit (row) {
        this.$set(row, '$isEdit', true)
      }, 
      handleSave (row) {
        //打开 旋转加载
        this.$Spin.show();
        this.$set(row, '$isEdit', false)
        this.$http.post(this.$root.IP + "ChangeDevice/", {
               params:{
                row,
               }
           }).then(res=>{
            this.$Spin.hide();
            if(res['data'].code == 200)
            {
               this.$Message.success(res['data'].msg);
            }
            else{
               this.$Message.error(res['data'].msg);
            }

           })


      },
      Delete(row){
        //打开 旋转加载
        this.$Spin.show();
        this.$http({
                url: this.$root.IP + "Device/",
                method: 'POST',
                data:this.$qs.stringify({
                    row_num: this.row_num,
                    type: 'delete',
                    page:this.page,
                    value:row.id
                })
              }).then((res) => {
                  this.$Spin.hide();
                  if(res.data["code"] == 200)
                  {
                      this.$Message.success(res.data["msg"]);
                      this.data1 = res.data["data"];
                      this.Page_total = res.data["Page_total"];
                  }
                  else{
                      this.$Message.error(res.data["msg"]);
                  }
              }, (err) => {
                  this.$Message.error('服务器繁忙，请稍后再试！');
              })

      
      },
      Cancel(row){
          this.$set(row, '$isEdit', false)

      },
    
    }
  }
</script>