<style scoped>
    .Filebox{
      float: left;
    }
    .Filebox .file{
      margin-left: 20px;
    }
</style>
<template>
    <div>

       <div class="Filebox" v-for="(item, index) in file_data" :key="index">
            <Button class="file" icon="ios-download-outline" type="primary" @click=" Download(item.id,item.file_name)" >{{item.file_name}} </Button>
       </div>

        <Upload  class="file" 
        :show-upload-list="false"
		:max-size="2048"
		:on-success="uploadSuccess"
		:on-error="uploadError"
		:on-format-error="handleFormatError"
		:on-exceeded-size="handleMaxSize"
		:before-upload="handleBeforeUpload"
        :action="url"
		multiple
        >
            <Button icon="ios-cloud-upload-outline" >上传附加文件</Button>
        </Upload>



    </div>
</template>
<script>
    export default {
        props: {
            row: Object
        },
        data() {
            return {
                url:'',
                file_data:{},
            }
        },
         created(){
            //打开 旋转加载
            this.$Spin.show();
            // 上传的URL  不可删除
            this.url = this.$root.IP +'Upfile/?ModelName=' +  this.row.ModelName

            this.$http({
                url: this.$root.IP + "Upfile/?ModelName=" +  this.row.ModelName,
                method: 'get',
            }).then(res=>{
                this.$Spin.hide();
                this.file_data = res['data']['data']
            })
        },
         methods: {
            // 下载文件
            Download (id,name){
                //打开 旋转加载
                this.$Spin.show();
                this.$http({
                      url: this.$root.IP + "Downloadfile/",
                      method: 'POST',
                      data:this.$qs.stringify({
                        id:id,
                      }),
                      responseType: 'blob'
                    }).then((res) => {
                        this.$Spin.hide();
                        const content = res.data
                        const blob = new Blob([content])
                        const fileName = name
                        if ('download' in document.createElement('a')) { // 非IE下载
                        const elink = document.createElement('a')
                        elink.download = fileName
                        elink.style.display = 'none'
                        elink.href = URL.createObjectURL(blob)
                        document.body.appendChild(elink)
                        elink.click()
                        URL.revokeObjectURL(elink.href) // 释放URL 对象
                        document.body.removeChild(elink)
                        } else { // IE10+下载
                        navigator.msSaveBlob(blob, fileName)
                        }



                    })


            },
          
            uploadSuccess (response, file, fileList) { // 文件上传成功时的钩子，返回字段为 response, file, fileList
                this.$Message.success("上传成功");
                //打开 旋转加载
                this.$Spin.show();    
                this.$http({
                    url: this.$root.IP + "Upfile/?ModelName=" +  this.row.ModelName,
                    method: 'get',
                }).then(res=>{
                    this.$Spin.hide();
                    this.file_data = res['data']['data']
                })

                
            },
            uploadError(error, file, fileList){ // 文件上传失败时的钩子，返回字段为 error, file, fileList
                this.$Message.error("上传失败");

            },
            handleFormatError(file, fileList){ // 文件格式验证失败时的钩子，返回字段为 file, fileList

            },
            handleMaxSize(file, fileList){ // 文件超出指定大小限制时的钩子，返回字段为 file, fileList

            },
            handleBeforeUpload(response){ // 上传文件之前的钩子，参数为上传的文件，若返回 false 或者 Promise 则停止上传

            }
        },
    };
</script>