<style>
.ivu-table td, .ivu-table th {
    min-width: 0;
    line-height: 15px;
    height: 15px;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #e8eaec;
}
.ivu-table-cell-with-expand {
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
}
</style>
<template>
<div>
     <Breadcrumb>
                <Breadcrumb-item href="#">首页</Breadcrumb-item>
                <Breadcrumb-item href="#">建筑设备</Breadcrumb-item>
                <Breadcrumb-item>厂房管理</Breadcrumb-item>
      </Breadcrumb>


      <AutoComplete
        v-model="search_value"
        :data="search_data"
        @on-search="Search"
        placeholder="搜索内容"
        style="width:200px"></AutoComplete>
      <Button type="success" @click="bt_Search" >搜索</Button>

    <Table  style="width: 100%"
    border
    :columns="columns" 
    :data="data1" 
    :highlight-row="true"
  ></Table>

   <Page :total="Page_total" :page-size='row_num'  @on-change="change_page" />
</div>
</template>

<script>
  import filemanage from './CE_File.vue';
  export default {
    components: { filemanage },
    data () {
      return {
        
        columns: [
          // 展开
          {
              type: 'expand',
              width: 50,
              render: (h, params) => {
                  return h(filemanage, {
                      props: {
                          row: params.row
                      }
                  })
              }
          },
          // ModelName 模型名-唯一
          {
            title: '模型名',
            key: 'ModelName',
            width: 200,
            height: 20,
          },
          // PlantNumber 厂房编号
          {
            title: '厂房编号',
            key: 'PlantNumber',
            width: 200,
            height: 20,
             render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.PlantNumber
                     },
                     on: {
                       input: function (event) {
                         params.row.PlantNumber = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.PlantNumber);
                 }
             }
          },
          // Use 用途
          {
            title: '用途',
            key: 'Use',
            width: 200,
            height: 20,
             render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Use
                     },
                     on: {
                       input: function (event) {
                         params.row.Use = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Use);
                 }
             }
          },
           // UseUnit 使用单位
          {
            title: '使用单位',
            key: 'UseUnit',
            width: 200,
            height: 20,
             render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.UseUnit
                     },
                     on: {
                       input: function (event) {
                         params.row.UseUnit = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.UseUnit);
                 }
             }
          },
          // Location 所在地
          {
            title: '所在地',
            key: 'Location',
            width: 200,
            height: 20,
             render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Location
                     },
                     on: {
                       input: function (event) {
                         params.row.Location = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Location);
                 }
             }
          },
          // MgDepartment 管理部门
          {
            title: '管理部门',
            key: 'MgDepartment',
            width: 200,
            height: 20,
             render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.MgDepartment
                     },
                     on: {
                       input: function (event) {
                         params.row.MgDepartment = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.MgDepartment);
                 }
             }
          },

          // TimeOfUse 使用时间
          {
            title: '使用时间',
            key: 'TimeOfUse',
            width: 200,
            height: 20,
             render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.TimeOfUse
                     },
                     on: {
                       input: function (event) {
                         params.row.TimeOfUse = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.TimeOfUse);
                 }
             }
          },
          // ConstructionArea 建筑面积
          {
            title: '建筑面积',
            key: 'ConstructionArea',
            width: 200,
            height: 20,
             render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.ConstructionArea
                     },
                     on: {
                       input: function (event) {
                         params.row.ConstructionArea = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.ConstructionArea);
                 }
             }
          },
          // BuildingStructure 建筑结构
          {
            title: '建筑结构',
            key: 'BuildingStructure',
            width: 200,
            height: 20,
             render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.BuildingStructure
                     },
                     on: {
                       input: function (event) {
                         params.row.BuildingStructure = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.BuildingStructure);
                 }
             }
          },
          // Remarks 备注
          {
            title: '备注',
            key: 'Remarks',
            width: 200,
            height: 20,
             render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Remarks
                     },
                     on: {
                       input: function (event) {
                         params.row.Remarks = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Remarks);
                 }
             }
          },
          
            //编辑
          {
            title: '编辑',
            key: 'action',
            width: 120,
            height: 20,
            fixed: 'right',

             render: (h, params) => {
                return h('div',
                [
                    h('Button', {
                        props: {
                            type: 'info',
                            size: 'small'
                        },
                        on: {
                        click: () => {
                            if (params.row.$isEdit) {
                            this.handleSave(params.row)
                            } else {
                            this.handleEdit(params.row)
                            }
                        }
                        }
                    }, params.row.$isEdit ? '保存' : '编辑'),

                    h('Button', {
                        props: {
                          type: 'error',
                          size: 'small'
                        },
                        style: {
                            display : params.row.$isEdit === true ? "inline-block" : "none",
                        },
                        on: {
                          click: () => {
                             this.Cancel(params.row);
                          }
                        }
                    },'取消'),


                    h('Poptip',{props: {
                        transfer:true,
                        confirm:true,
                        title : "是否要删除此条信息?",
                        disabled : params.row.$isEdit,
                        },
                        style: {
                            display : params.row.$isEdit === true ? "none" : "inline-block",
                        },
                        on: {
                              'on-ok': () => {
                                  this.ok(params.row);
                              },

                              'on-cancel': ()=> {
                                  this.cancel();
                              }
                    }},
                    [
                      h('Button', {
                        props: {
                          type: 'error',
                          size: 'small'
                        },
                        on: {
                          click: () => {
                            if (params.row.$isEdit) {

                              this.Cancel(params.row);

                            } else {

                            }
                          }

                        }
                      }, params.row.$isEdit ? '取消' : '删除')
                    ]
                    
                    )

                ])
            }

          }
        ],
        data1: [],
        Page_total: 0 , // 页码
        page:1,
        row_num:20,

        search_value: '',
        search_list: [],
        search_data: [],

      }
    },

    created(){
      //打开 旋转加载
      this.$Spin.show();

      this.$http.get(this.$root.IP + "Factor/?page=1&row_num=" + this.row_num, {
        params:{
        }
      }).then(res=>{
        this.$Spin.hide();
        this.data1 = res.data["data"];
        this.Page_total = res.data["Page_total"];

        res.data["search_data"].map((item)=>{
            this.search_list.push(item.PlantNumber)
        })

      })
    },

    methods: {
      ok (value) {
          this.Delete(value);
      },

      cancel () {
          // this.$Message.info('You click cancel');
      },


      // 选择搜索字段
      Search(value) {
        this.search_data.splice(0,this.search_data.length);
        this.search_list.map((item)=>{
          var reg = RegExp(''+ value +'');
          var End = reg.exec(item)
          if(End)
          {
              this.search_data.push(item);
          }
        })
      },
      //  搜索按钮
      bt_Search(){
        // 翻页 状态 变 搜索
        this.BrowseStatus = 'search'
        //打开 旋转加载
        this.$Spin.show();
        this.$http({
                url: this.$root.IP + "Factor/",

                method: 'POST',
                data:this.$qs.stringify({
                    row_num: this.row_num,
                    type: this.BrowseStatus,
                    page:1,
                    value:this.search_value
                })
              }).then((res) => {
                  this.$Spin.hide();
                  if(res.data["code"] == 200)
                  {
                      console.log( res.data["data"])
                      this.data1 = res.data["data"];
                      this.Page_total = res.data["Page_total"];
                  }
                  else{
                      this.$Message.error(res.data["msg"]);
                  }

              }, (err) => {
        
              })

      },



                // 页面修改
      change_page(i){
            //打开 旋转加载
            this.$Spin.show();
            this.page = i;
            this.$http.get(this.$root.IP + "Factor/?page=" + i + "&row_num=" + this.row_num, {
                params:{
                }
            }).then(res=>{
                this.$Spin.hide();
                this.data1 = res.data["data"];
                this.Page_total = res.data["Page_total"];
            })

      },


      locateBuilding( tag ){
        console.log(tag)
        this.ue4("print",tag)
      },
      handleEdit (row) {
            this.$set(row, '$isEdit', true)
      }, 
      handleSave (row) {
          this.$set(row, '$isEdit', false)
          //打开 旋转加载
          this.$Spin.show();
          this.$http.post(this.$root.IP + "ChangeFactor/", {
                params:{
                 row
                }
            }).then(res=>{
               this.$Spin.hide();
               if(res['data'].code == 200)
               {
                  this.$Message.success(res['data'].msg);
               }
               else{
                  this.$Message.error(res['data'].msg);
               }

            })

      },
      Delete(row){
          //打开 旋转加载
          this.$Spin.show();
          this.$http({
          url: this.$root.IP + "Factor/",
          method: 'POST',
          data:this.$qs.stringify({
              row_num: this.row_num,
              type: 'delete',
              page:this.page,
              value:row.id
          })
        }).then((res) => {
            this.$Spin.hide();
            if(res.data["code"] == 200)
            {
                this.$Message.success(res.data["msg"]);
                this.data1 = res.data["data"];
                this.Page_total = res.data["Page_total"];
            }
            else{
                this.$Message.error(res.data["msg"]);
            }
        }, (err) => {
            this.$Message.error('服务器繁忙，请稍后再试！');
        })

      },
      Cancel(row){
          this.$set(row, '$isEdit', false)

      },


    }
  }
</script>


