<style>
.ivu-table td, .ivu-table th {
    min-width: 0;
    height: 18px;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #e8eaec;
}
</style>
<template>
<div>
     <Breadcrumb>
                <Breadcrumb-item href="#">首页</Breadcrumb-item>
                <Breadcrumb-item href="#">建筑设备</Breadcrumb-item>
                <Breadcrumb-item>煤气管线</Breadcrumb-item>
      </Breadcrumb>

    <i-table width="100%" 
    border
    :columns="columns" 
    :data="data" 
    :highlight-row="true"
  ></i-table>

   <Page :total="Page_total" :page-size='row_num'  @on-change="change_page" />
</div>
</template>

<script>
  import {ue4} from "../../components/ue4/ue.js"
  export default {
    data () {
      return {
        columns: [
          
           // 0
          {
            title: 'other',
            key: 'other',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.other
                     },
                     on: {
                       input: function (event) {
                         params.row.other = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.other);
                 }
             }
          },
          // 1
          {
            title: 'pt1',
            key: 'pt1',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.pt1
                     },
                     on: {
                       input: function (event) {
                         params.row.pt1 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.pt1);
                 }
             }
          },
          // 2
          {
            title: 'x1',
            key: 'x1',
            width: 200,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.x1
                     },
                     on: {
                       input: function (event) {
                         params.row.x1 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.x1);
                 }
             }
          },
          // 3
          {
            title: 'y1',
            key: 'y1',
            width: 200,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.y1
                     },
                     on: {
                       input: function (event) {
                         params.row.y1 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.y1);
                 }
             }
          },
          // 4
          {
            title: 'z1',
            key: 'z1',
            width: 200,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.z1
                     },
                     on: {
                       input: function (event) {
                         params.row.z1 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.z1);
                 }
             }
          },
          // 5
          {
            title: 'tz1',
            key: 'tz1',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.tz1
                     },
                     on: {
                       input: function (event) {
                         params.row.tz1 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.tz1);
                 }
             }
          },
          // 6          
          {
            title: 'fsw1',
            key: 'fsw1',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.fsw1
                     },
                     on: {
                       input: function (event) {
                         params.row.fsw1 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.fsw1);
                 }
             }
          },
          // 7
          {
            title: 'jgcz1',
            key: 'jgcz1',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.jgcz1
                     },
                     on: {
                       input: function (event) {
                         params.row.jgcz1 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.jgcz1);
                 }
             }
          },
          // 8
          {
            title: '起点埋深',
            key: 'StartPointDepth',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.StartPointDepth
                     },
                     on: {
                       input: function (event) {
                         params.row.StartPointDepth = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.StartPointDepth);
                 }
             }
          },
          // 9
          {
            title: 'pt2',
            key: 'pt2',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.pt2
                     },
                     on: {
                       input: function (event) {
                         params.row.pt2 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.pt2);
                 }
             }
          },
          // 10
          {
            title: 'x2',
            key: 'x2',
            width: 200,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.x2
                     },
                     on: {
                       input: function (event) {
                         params.row.x2 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.x2);
                 }
             }
          },
          //  11
          {
            title: 'y2',
            key: 'y2',
            width: 200,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.y2
                     },
                     on: {
                       input: function (event) {
                         params.row.y2 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.y2);
                 }
             }
          },
           //  12
          {
            title: 'z2',
            key: 'z2 ',
            width: 200,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.z2
                     },
                     on: {
                       input: function (event) {
                         params.row.z2 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.z2);
                 }
             }
          },
           //  13
          {
            title: 'tz2',
            key: 'tz2',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.tz2
                     },
                     on: {
                       input: function (event) {
                         params.row.tz2 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.tz2);
                 }
             }
          },
           //  14
          {
            title: '特征',
            key: 'fsw2',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.fsw2
                     },
                     on: {
                       input: function (event) {
                         params.row.fsw2 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.fsw2);
                 }
             }
          },
           //  15
            {
            title: 'jgcz2',
            key: 'jgcz2',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.jgcz2
                     },
                     on: {
                       input: function (event) {
                         params.row.jgcz2 = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.jgcz2);
                 }
             }
          },
           //  16
          {
            title: '终点埋深',
            key: 'EndPointDepth',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.EndPointDepth
                     },
                     on: {
                       input: function (event) {
                         params.row.BuildingStEndPointDepthructure = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.EndPointDepth);
                 }
             }
          },
           //  17
          {
            title: '埋设方式',
            key: 'BuriedWay',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.BuriedWay
                     },
                     on: {
                       input: function (event) {
                         params.row.BuriedWay = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.BuriedWay);
                 }
             }
          },
           //  18
          {
            title: '管材',
            key: 'Pipe',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Pipe
                     },
                     on: {
                       input: function (event) {
                         params.row.Pipe = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Pipe);
                 }
             }
          },
           //  19
          {
            title: '规格',
            key: 'Specification',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Specification
                     },
                     on: {
                       input: function (event) {
                         params.row.Specification = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Specification);
                 }
             }
          },

          {
            title: '压力',
            key: 'pressure',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.pressure
                     },
                     on: {
                       input: function (event) {
                         params.row.pressure = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.pressure);
                 }
             }
          },
             //  20
          {
            title: '街路名称',
            key: 'StreetName',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.StreetName
                     },
                     on: {
                       input: function (event) {
                         params.row.StreetName = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.StreetName);
                 }
             }
          },
            //  21
          {
            title: '建设年代',
            key: 'ConstructionAge',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.ConstructionAge
                     },
                     on: {
                       input: function (event) {
                         params.row.ConstructionAge = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.ConstructionAge);
                 }
             }
          },

               //  22
          {
            title: '权属单位',
            key: 'OwnershipUnit',
            width: 300,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.OwnershipUnit
                     },
                     on: {
                       input: function (event) {
                         params.row.OwnershipUnit = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.OwnershipUnit);
                 }
             }
          },
             //  23
          {
            title: '埋深位置',
            key: 'BuriedDepth',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.BuriedDepth
                     },
                     on: {
                       input: function (event) {
                         params.row.BuriedDepth = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.BuriedDepth);
                 }
             }
          },
             //  24
          {
            title: '线型编码',
            key: 'LineCoding',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.LineCoding
                     },
                     on: {
                       input: function (event) {
                         params.row.LineCoding = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.LineCoding);
                 }
             }
          },
             //  25
          {
            title: '修改日期',
            key: 'Modifiedate',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Modifiedate
                     },
                     on: {
                       input: function (event) {
                         params.row.Modifiedate = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Modifiedate);
                 }
             }
          },
             //  26
          {
            title: '备注',
            key: 'Remarks',
            width: 100,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.Remarks
                     },
                     on: {
                       input: function (event) {
                         params.row.Remarks = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.Remarks);
                 }
             }
          },
             //  27
          {
            title: 'SHAPE_Leng',
            key: 'SHAPE_Leng',
            width: 200,
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.SHAPE_Leng
                     },
                     on: {
                       input: function (event) {
                         params.row.SHAPE_Leng = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.SHAPE_Leng);
                 }
             }
          },
            //编辑
          {
            title: '编辑',
            key: 'action',
            width: 120,
            fixed: 'right',

            render: (h, params) => {
                return h('div',
                [
                    h('Button', {
                        props: {
                            type: 'info',
                            size: 'small'
                        },
                        on: {
                        click: () => {
                            if (params.row.$isEdit) {
                            this.handleSave(params.row)
                            } else {
                            this.handleEdit(params.row)
                            }
                        }
                        }
                    }, params.row.$isEdit ? '保存' : '编辑'),

                    h('Button', {
                        props: {
                          type: 'error',
                          size: 'small'
                        },
                        style: {
                            display : params.row.$isEdit === true ? "inline-block" : "none",
                        },
                        on: {
                          click: () => {
                             this.Cancel(params.row);
                          }
                        }
                    },'取消'),


                    h('Poptip',{props: {
                        transfer:true,
                        confirm:true,
                        title : "是否要删除此条信息?",
                        },
                        style: {
                            display : params.row.$isEdit === true ? "none" : "inline-block",
                        },
                        on: {
                              'on-ok': () => {
                                  this.ok(params.row);
                              },

                              'on-cancel': ()=> {
                                  this.cancel();
                              }
                    }},
                    [
                      h('Button', {
                        props: {
                          type: 'error',
                          size: 'small'
                        },
                        on: {
                          click: () => {
                            if (params.row.$isEdit) {

                              this.Cancel(params.row);

                            } else {

                            }
                          }

                        }
                      }, params.row.$isEdit ? '取消' : '删除')
                    ]
                    
                    )

                ])
            }

          }
        ],
        data: [],
        Page_total: 0 ,
        row_num:20,
        page:1,

        ue4
      }
    },

    created(){
      //打开 旋转加载
      this.$Spin.show();
      this.$http.get(this.$root.IP + "Gaspipe/?page=1&row_num="+this.row_num, {
        params:{
        }
      }).then(res=>{
        this.$Spin.hide();
        this.data = res.data["data"];
        this.Page_total = res.data["Page_total"];
      })
    },
    methods: {

      ok (value) {
          this.Delete(value);
      },

      cancel () {
          // this.$Message.info('You click cancel');
      },

      // 页面修改
      change_page(i){
            //打开 旋转加载
            this.$Spin.show();
            this.page = i,
            this.$http.get(this.$root.IP + "Gaspipe/?page=" + i + "&row_num=" +  this.row_num, {
                params:{
                }
            }).then(res=>{
                this.$Spin.hide();
                this.data = res.data["data"];
                this.Page_total = res.data["Page_total"];
            })

      },
      locateBuilding( tag ){
        console.log(tag)
        this.ue4("print",tag)
      },

      handleEdit (row) {
            this.$set(row, '$isEdit', true)
      }, 
      handleSave (row) {
        //打开 旋转加载
        this.$Spin.show();
        this.$set(row, '$isEdit', false)
        this.$http({
          url: this.$root.IP + "Gaspipe/",
          method: 'POST',
          data:{ 
              row,
              type:'change',
          }
        }).then(res=>{
                this.$Spin.hide();
               if(res['data'].code == 200)
               {
                  this.$Message.success(res['data'].msg);
               }
               else{
                  this.$Message.error(res['data'].msg);
               }

            })

      },
      Delete(row){
          //打开 旋转加载
          this.$Spin.show();
          this.$http({
          url: this.$root.IP + "Gaspipe/",
          method: 'POST',
          data:this.$qs.stringify({
              row_num: this.row_num,
              type: 'delete',
              page:this.page,
              value:row.id
          })
        }).then((res) => {
            this.$Spin.hide();
            if(res.data["code"] == 200)
            {
                this.$Message.success(res.data["msg"]);
                this.data = res.data["data"];
                this.Page_total = res.data["Page_total"];
            }
            else{
                this.$Message.error(res.data["msg"]);
            }
        }, (err) => {
            this.$Message.error('服务器繁忙，请稍后再试！');
        })



      },
      Cancel(row){
          this.$set(row, '$isEdit', false)

      },

    }
  }
</script>