<style>
/* .role_Checkbox{

} */

</style>
<template>
   <div>
       
    <Checkbox-group v-model='social'  v-for="(item, index) in data" :key="index" @click="locateBuilding()">

        <Checkbox  :label="item.id" >
            <Icon type="social-twitter"></Icon>
            <span>{{item["description"]}}</span>
        </Checkbox>

    </Checkbox-group>

    <button @click=" locateBuilding">修改</button>
   </div>
</template>
<script>
    export default {
        data () {
            return {
                Role:"",
                data:[],
                social: [],
            }
        }, 
        created(){
            
            this.Role = this.$route.query.M_role

            this.$http.post( this.$root.IP + "Role/?role=" + this.Role, {
            params:{
                }
            }).then(res=>{
                
                this.data = res.data["all_prem"]
                for(var i=0;i<res.data["perm_grrm"].length;i++){
                    this.social.push(res.data["perm_grrm"][i].Perm)
                }

                console.log(res.data["all_prem"])
                
            })

        },
        methods: {
            locateBuilding( ){
                console.log(this.social.join(","))  
                axios.post(this.$root.IP + "UpRole/?list=" + this.social.join("-")+"&"+"role="+this.Role, {
                params:{
                    }
                }).then(res=>{
                    this.$Message.success(res.data['data']);
                })
            },
        }
    }
</script>

