<style>
.input_box{
    text-align: center;
    width: 200px;
}
.createuser_bt_box{
    float: left;
    display: inline-block;
    /* margin-bottom: 0; */
    margin-left: 50px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 15px 6px;
    font-size: 12px;
    border-radius: 4px;
    transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
    color: #515a6e;
    background-color: #fff;
    border-color: #dcdee2;

}
</style>

<template>
<div>
    <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
        <FormItem class="input_box" label="姓名" prop="name">
            <Input  class="input_box" v-model="formValidate.name" placeholder="请输入姓名"></Input>
        </FormItem>

        <FormItem  class="input_box" label="账号" prop="username">
            <Input v-model="formValidate.username" placeholder="请输入账号"></Input>
        </FormItem>

        <FormItem  class="input_box" label="密码" prop="password">
            <Input v-model="formValidate.password" placeholder="请输入密码"></Input>
        </FormItem>

        <FormItem  class="input_box" label="邮箱" prop="mail">
            <Input v-model="formValidate.mail" placeholder="请输入e-mail"></Input>
        </FormItem>

        <FormItem  class="input_box" label="权限" prop="role">

            <Select v-model="formValidate.role" placeholder="请选择权限"> 
                <Option v-for="item in role_data"  :key="item.id" :value="item.role"> {{ item.description }}</Option>
            </Select>

        </FormItem>
    </Form>
    <div>
        <Button class="createuser_bt_box" @click="handleSubmit('formValidate')">提交</Button>
        <Button class="createuser_bt_box" @click="handleReset('formValidate')" style="margin-left: 8px">清除</Button>
    </div>
</div>
</template>
<script>
    export default {
        data () {
            return {
                formValidate: {

                    name: '',
                    username:"",
                    password:"",
                    mail: '',
                    role: '',
                },
                role_data: {},
                ruleValidate: {
                    name: [
                        { required: true, message: '不能为空', trigger: 'blur' }
                    ],

                    username: [
                        { required: true, message: '不能为空', trigger: 'blur' },
                        { type: 'string', min: 6, message: '不大于12位，不小于6位', trigger: 'blur' },
                        { type: 'string', max: 20, message: '不大于12位，不小于6位', trigger: 'blur' }
                    ],

                    password: [
                        { required: true, message: '不能为空', trigger: 'blur' },
                        { type: 'string', min: 8, message: '不大于12位，不小于6位', trigger: 'blur' },
                        { type: 'string', max: 20, message: '不大于12位，不小于6位', trigger: 'blur' }
                    ],

                    mail: [
                        { required: true, message: '不能为空', trigger: 'blur' },
                        { type: 'email', message: '邮箱格式不对！', trigger: 'blur' }
                    ],
                    role: [
                        { required: true, message: '请选择', trigger: 'change' }
                    ],
                   
                }
            }
        },
        created(){
            //打开 旋转加载
            this.$Spin.show();
            this.$http.get(this.$root.IP + "CreateUser/", {
                params:{
                }
            }).then(res=>{
                this.$Spin.hide();
                this.role_data = res.data["data"];
            }).catch(e=>{
                     this.$Message.error('服务器繁忙请稍后重试！');
            });
        },
        methods: {
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                                //打开 旋转加载
                        this.$Spin.show();
                        this.$http.post(this.$root.IP + "CreateUser/", {
                            params:{
                                    name: this.formValidate.name,
                                    username:this.formValidate.username,
                                    password:this.formValidate.password,
                                    mail: this.formValidate.mail,
                                    role: this.formValidate.role,
                            }
                        }).then(res=>{
                            this.$Spin.hide();
                            if(res.data['code'] == 200)
                            {
                                this.$Message.success(res.data['msg']);
                            }
                            else{
                                this.$Message.error(res.data['msg']);
                            }
                            handleReset('formValidate')
                        }).catch(e=>{
                            this.$Message.error('服务器繁忙请稍后重试！');
                        });



                    } else {



                        this.$Message.error('Fail!');
                    }
                })
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            }
        }
    }
</script>
