<style>
  .demo-split{
      height: 700px;
      border: 1px solid #dcdee2;
  }

  .demo-split-pane{
      padding: 10px;
  }

  .Box_Details{
    width: 100%;
    height: 100%;
    background: #bbb;
    border:  1 px solid #333;
    border-radius: 10px; 
  }

  .Box_Details .box{
    display: inline;
  }

  .Checkbox{
    width: 140px;
    text-align:left;

  }

  .Box_Details .bt_change{
    position: absolute;
    /* margin:500px auto; */
  }


</style>
<template>
<div>
    <Breadcrumb>
              <Breadcrumb-item href="#">首页</Breadcrumb-item>
              <Breadcrumb-item href="#">用户</Breadcrumb-item>
              <Breadcrumb-item>权限列表</Breadcrumb-item>
    </Breadcrumb>

    <div class="demo-split">
        <Split v-model="split1">
            <!-- 左 -->
            <div slot="left" class="demo-split-pane">
               <i-table border :columns="columns" :data="data1"></i-table>
            </div>
            <!-- 右 -->
            <div slot="right" class="demo-split-pane">

              <div class="Box_Details">
                <Checkbox-group indeterminate='true' class="box" v-model='social'  v-for="(item, index) in data" :key="index">

                  <Checkbox class="Checkbox" :label="item.Pern" border >
                    <Icon type="social-twitter"></Icon>
                    <span>{{item["description"]}}</span>
                  </Checkbox>

                </Checkbox-group>
              </div>
              <Button v-if="bt_show" class="bt_change" type="info" @click=" Change_role" >修改</Button>
              
            </div>
            <!-- 右 -->
        </Split>
    </div>
</div>
</template>

<script>
  export default {
    data () {
      return {
        columns: [
          {
            title: 'ID',
            key: 'id',
          },
          {
            title: '角色',
            key: 'role',
          },
          {
            title: '描述',
            key: 'description',
          },
         {
          title: '编辑',
          fixed: 'right',
          width: 80,
          key: 'action',
          render: (h, params) => {
              return h(
                "Button",
                {
                  props: {
                    type: "info",
                    size: "small"
                  },
                  on: {
                    click: () => {
                      this.View(params.row.role)
                    }
                  }
                },"编辑");
            }
         }
        ],
        // 权限列表
        data1: [],
        // 所有的权限
        data:[],
        // 选择的权限 
        social: [],
        editIndex: -1,  // 当前聚焦的输入框的行数
        split1: 0.3,
      
        role: '',
        description: '',
        bt_show:false,
      }
    },

    created(){

      this.$http.get(this.$root.IP + "Role/", {
        params:{
        }
      }).then(res=>{

        this.data1 = res.data["data"];
      })

    },

    methods: {
      // 展开权限
      View(tag){
        
        this.Role = tag
        this.$http.post( this.$root.IP + "Role/?role=" + tag, {
        params:{
        }
        }).then(res=>{
            
            this.data = res.data["all_prem"]
            this.social.splice(0,this.social.length);
            for(var i=0;i<res.data["perm_grrm"].length;i++){
                this.social.push(res.data["perm_grrm"][i].Perm)
            }
            this.bt_show = true;
        })

      },
      Change_role( ){
        this.$http.post(this.$root.IP + "UpRole/?list=" + this.social.join("-")+"&"+"role="+this.Role, {
        params:{
            }
        }).then(res=>{
            this.$Message.success(res.data['data']);
        })
      },
    }
  }
</script>