<template>
<div>
     <Breadcrumb>
                <Breadcrumb-item href="#">首页</Breadcrumb-item>
                <Breadcrumb-item href="#">用户</Breadcrumb-item>
                <Breadcrumb-item>用户列表</Breadcrumb-item>
      </Breadcrumb>

    <i-table  border :columns="columns" :data="data1"></i-table>
    <Page :total="Page_total" :page-size='row_num'  @on-change="change_page" />

    <!-- 修改账号密码 -->
    <Modal
        v-model="Change_pwd"
        title="修改账号密码"
        ok-text="修改"
        @on-ok="change_pwd_ok"
        @on-cancel="change_pwd_cancel">
        <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
            <FormItem  label="新密码" prop="password">
                <Input v-model="formValidate.password" placeholder="请输入密码(不小于8位，不大于12位)"></Input>
            </FormItem>
        </Form>
    </Modal>


</div>
</template>

<script>
  // import change_pwd from './U_change_pwd.vue';
  export default {
    // components: { change_pwd },
    
    data () {
      return {
        formItem: {
          test:''
        },
        // 修改密码表单验证  ----------------------------
        formValidate: {
          password:"",
        },
        ruleValidate: {
          password: [
              { required: true, message: '不能为空', trigger: 'blur' },
              { type: 'string', min: 8, message: '不大于12位，不小于8位', trigger: 'blur' },
              { type: 'string', max: 12, message: '不大于12位，不小于8位', trigger: 'blur' }
          ],      
        },
        //----------------------------
        columns: [
          // 展开
          {
              type: 'expand',
              width: 50,
              height: 40,
              render: (h, params) => {
                  return h("Button", {
                      props: {
                          type: 'info',
                          row: params.row
                          
                      },
                      on: {
                          click: () => {
                            this.Change_pwd = true;
                            this.username = params.row.username;
                          }
                      }
                  },'修改密码')
              },
          },

          {
            title: '账号',
            key: 'username',
            $isEdit: false
          },
          {
            title: '姓名',
            key: 'name',
            render: (h, params) => {
                 if (params.row.$isEdit) {
                   return h('input', {
                     domProps: {
                       value: params.row.name
                     },
                     on: {
                       input: function (event) {
                         params.row.name = event.target.value
                       }
                     }
                   });
                 } else  {
                   return h('div', params.row.name);
                 }
             }

          },

          {
            title: '账号类型',
            key: 'role',
            render: (h, params) => {

             if (params.row.$isEdit) {
                ///=================================//

                return h('Select', {
                        props:{
                            value:params.row.role,
                            label:params.row.role,
                            transfer:true,
                        },
                        on: {
                            'input':(value) => {
                                params.row.role = value;
                            }
                        },
                    },
                    this.rolelist.map(function(type){
                        return h('Option', {
                            props: 
                            {
                              value: type.role,
                              label: type.role,
                            }
                        }, type);
                    })
                    );

              ///=================================//
             }
             // 正常状态
              else  {
               return h('div', params.row.role);
             }
             }

          },
          {
            title: '邮箱',
            key: 'email',
            render: (h, params) => {
             if (params.row.$isEdit) {
               return h('input', {
                 domProps: {
                   value: params.row.email
                 },
                 on: {
                   input: function (event) {
                     params.row.email = event.target.value
                   }
                 }
               });
             } else  {
               return h('div', params.row.email);
             }
             }
          },
            //编辑
        {
            title: '编辑',
            key: 'action',
            width: 120,
            render: (h, params) => {
                return h('div',
                [
                    h('Button', {
                        props: {
                            type: 'info',
                            size: 'small'
                        },
                        on: {
                        click: () => {
                            if (params.row.$isEdit) {
                            this.handleSave(params.row)
                            } else {
                            this.handleEdit(params.row)
                            }
                        }
                        }
                    }, params.row.$isEdit ? '保存' : '编辑'),

                    h('Button', {
                        props: {
                          type: 'error',
                          size: 'small'
                        },
                        style: {
                            display : params.row.$isEdit === true ? "inline-block" : "none",
                        },
                        on: {
                          click: () => {
                             this.Cancel(params.row);
                          }
                        }
                    },'取消'),


                    h('Poptip',{props: {
                        transfer:true,
                        confirm:true,
                        title : "是否要删除此条信息?",
                        disabled : params.row.$isEdit,
                        },
                        style: {
                            display : params.row.$isEdit === true ? "none" : "inline-block",
                        },
                        on: {
                              'on-ok': () => {
                                  this.ok(params.row);
                              },

                              'on-cancel': ()=> {
                                  this.cancel();
                              }
                    }},
                    [
                      h('Button', {
                        props: {
                          type: 'error',
                          size: 'small'
                        },
                        on: {
                          click: () => {
                            if (params.row.$isEdit) {

                              this.Cancel(params.row);

                            } else {

                            }
                          }

                        }
                      }, params.row.$isEdit ? '取消' : '删除')
                    ]
                    
                    )

                ])
            }


        }
        ],
        data1: [],

        page:1,
        Page_total: 0 ,
        row_num:20,

        rolelist:[
        ],
        // 显示隐藏 修改密码弹窗
        Change_pwd:false,
        // 记录当前点击的的是那个Username 
        username:"", 
        // 新密码
        new_pwd:'',
      }
    },

    created(){
      //打开 旋转加载
      this.$Spin.show();
      this.$http.get(this.$root.IP + "UserList/?page=" + this.page + "&row_num=" +  this.row_num, {
        params:{
        }
      }).then(res=>{
        this.$Spin.hide();
        // this.data1 = res.data["user_list"];
        this.data1 = res.data["user_list"]
        this.rolelist =  res.data["all_role"];
        this.Page_total = res.data["Page_total"];

      })
    },

    methods: {
      // 删除 确认取消
      ok (value) {
          this.Delete(value);
      },

      cancel () {
          // this.$Message.info('You click cancel');
      },


      change_pwd_ok(value)
      {

        //判断字段是否为空
        if(this.formValidate['password'] == '' || this.username == '')
        {
          this.$Message.error('修改字段为空，请检查后再提交！');
          return
        }
                //打开 旋转加载
         this.$Spin.show();
         this.$http.post(this.$root.IP + "ChangePwd/", {
            params:{
              password: this.formValidate['password'],
              username: this.username,
            }
        }).then(res=>{
            this.$Spin.hide();
            if(res.data["code"] == 200)
            {
              console.log(name)
                this.$Message.success(res.data["msg"]);
            }
            else{
                this.$Message.error(res.data["msg"]);
            }
            // 清除字段  以便下次使用！
            this.new_pwd = this.username  = "";
        })
      },

      change_pwd_cancel(value)
      {
        
      },
      // 换页
      change_page(i){
        //打开 旋转加载
        this.$Spin.show();
        this.$http.get(this.$root.IP + "UserList/?page=" + i + "&row_num=" +  this.row_num, {
          params:{
          }
        }).then(res=>{
          this.$Spin.hide();
          this.data1 = res.data["user_list"];
          this.rolelist =  res.data["all_role"];
          this.Page_total = res.data["Page_total"];

        })
      },

      
      handleEdit (row) {
            this.$set(row, '$isEdit', true)
      }, 
      handleSave (row) {
        //打开 旋转加载
        this.$Spin.show();
        this.$set(row, '$isEdit', false)
        var url = this.$root.IP + "UserList/";
        this.$http.post(url, {
            params:{

              type:'change',
              username:row['username'],
              email:row['email'],
              name:row['name'],
              role:row['role'],
            }
        }).then(res=>{
            this.$Spin.hide();
            if(res.data["code"] == 200)
            {
              console.log(name)
                this.$Message.success(res.data["msg"]);
            }
            else{
              
                this.$Message.error(res.data["msg"]);
            }
        })
      },
      Delete(row){
        //打开 旋转加载
        this.$Spin.show();
        var url = this.$root.IP + "UserList/"
        this.$http.post(url, {
            params:{
              type:'delete',
              row_num:this.row_num,
              page:this.page,
              username:row['username'],
            }
        }).then(res=>{
            this.$Spin.hide();
            if(res.data["code"] == 200)
            {
                this.$Message.success(res.data["msg"]);
                this.change_page(this.page);
            }
            else{
              
                this.$Message.error(res.data["msg"]);
            }
        })

      },
      Cancel(row){
          this.$set(row, '$isEdit', false)

      },
    }
  }
</script>