<style>
.ivu-table td, .ivu-table th {
    min-width: 0;
    height: 20px;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #e8eaec;
}
.ivu-table-cell-with-expand {
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
}
</style>
<template>
<div>
    <Breadcrumb>
       <Breadcrumb-item href="#">首页</Breadcrumb-item>
       <Breadcrumb-item href="#">更新</Breadcrumb-item>
       <Breadcrumb-item>更新设备</Breadcrumb-item>
    </Breadcrumb>

    <i-table width="100%" 
    border
    :columns="columns" 
    :data="data1" 
    :highlight-row="true"
    ></i-table>

   <Page :total="Page_total" :page-size='row_num'  @on-change="change_page" />
</div>
</template>

<script>
  import axios from "axios";
  export default {
    data () {
      return {
        columns: [
        //   设备编码
          {
            title: '设备编码',
            key: '设备编码',
            width: 100,

          },

        //   设备名称
          {
            title: '设备名称',
            key: '设备名称',
            width: 100,

          },

        //   设备类别
          {
            title: '设备类别',
            key: '设备类别',
            width: 100,

          },


        //   规格
          {
            title: '规格',
            key: '规格',
            width: 100,

          },



        //   型号
          {
            title: '型号',
            key: '型号',
            width: 100,

          },



        //   管理人
          {
            title: '管理人',
            key: '管理人',
            width: 100,

          },




        //   管理部门
          {
            title: '管理部门',
            key: '管理部门',
            width: 300,

          },



        //   责任人
          {
            title: '责任人',
            key: '责任人',
            width: 100,

          },



        //   责任人编码
          {
            title: '责任人编码',
            key: '责任人编码',
            width: 100,

          },



        //   班组
          {
            title: '班组',
            key: '班组',
            width: 200,

          },




        //   使用部门
          {
            title: '使用部门',
            key: '使用部门',
            width: 200,

          },




        //   MAC地址
          {
            title: 'MAC地址',
            key: 'MAC地址',
            width: 100,

          },



        //   到期日期
          {
            title: '到期日期',
            key: '到期日期',
            width: 100,

          },




        //   精度
          {
            title: '精度',
            key: '精度',
            width: 100,

          },




        //   管理状态
          {
            title: '管理状态',
            key: '管理状态',
            width: 100,

          },



        //   状态日期
          {
            title: '状态日期',
            key: '状态日期',
            width: 200,

          },



        //   投用日期
          {
            title: '投用日期',
            key: '投用日期',
            width: 200,

          },


        //   检验日期
          {
            title: '检验日期',
            key: '检验日期',
            width: 200,

          },



        //   有效日期
          {
            title: '有效日期',
            key: '有效日期',
            width: 200,

          },


        //   检验周期
          {
            title: '检验周期',
            key: '检验周期',
            width: 200,

          },

        //   出场编码
          {
            title: '出场编码',
            key: '出场编码',
            width: 100,

          },

        //   设备编码
          {
            title: '设备编码',
            key: '设备编码',
            width: 100,

          },

        //   ABC分类
          {
            title: 'ABC分类',
            key: 'ABC分类',
            width: 100,

          },

        //   是否清理
          {
            title: '是否清理',
            key: '是否清理',
            width: 100,

          },

        //   各部门清查问题
          {
            title: '各部门清查问题',
            key: '各部门清查问题',
            width: 100,

          },

        //   最后修改日期
          {
            title: '最后修改日期',
            key: '最后修改日期',
            width: 200,

          },

        //   修改人编号
          {
            title: '修改人编号',
            key: '修改人编号',
            width: 100,

          },

        //   修改人姓名
          {
            title: '修改人姓名',
            key: '修改人姓名',
            width: 100,

          },

        //   工装图号
          {
            title: '工装图号',
            key: '工装图号',
            width: 100,

          },

        //   是否WP可用
          {
            title: '是否WP可用',
            key: '是否WP可用',
            width: 100,

          },

        //   是否31F可用
          {
            title: '是否31F可用',
            key: '是否31F可用',
            width: 100,

          },

        //   是否31FN可用
          {
            title: '是否31FN可用',
            key: '是否31FN可用',
            width: 100,

          },

        //   是否WS10可用
          {
            title: '是否WS10可用',
            key: '是否WS10可用',
            width: 100,

          },

        //   是否RD93可用
          {
            title: '是否RD93可用',
            key: '是否RD93可用',
            width: 100,

          },

        //   是否WZ9可用
          {
            title: '是否WZ9可用',
            key: '是否WZ9可用',
            width: 100,

          },

        //   类别
          {
            title: '类别',
            key: '类别',
            width: 100,

          },

        //   工作内容
          {
            title: '工作内容',
            key: '工作内容',
            width: 100,

          },

        //   工作标准
          {
            title: '工作标准',
            key: '工作标准',
            width: 500,

          },

        //   周期
          {
            title: '周期',
            key: '周期',
            width: 100,

          },

        //   周期单位
          {
            title: '周期单位',
            key: '周期单位',
            width: 100,

          },
        //   本次完成时间
          {
            title: '本次完成时间',
            key: '本次完成时间',
            width: 100,

          },

         //   本次到期时间
          {
            title: '本次到期时间',
            key: '本次到期时间',
            width: 100,

          },

         //   预警周期
          {
            title: '预警周期',
            key: '预警周期',
            width: 100,

          },

         //   操作者
          {
            title: '操作者',
            key: '操作者',
            width: 100,

          },

         //   检验者
          {
            title: '检验者',
            key: '检验者',
            width: 100,

          },

         //   工作中心
          {
            title: '工作中心',
            key: '工作中心',
            width: 100,

          },

 


    
        ],

        data1: [
        ],
        Page_total: 0 ,
        page:1,
        row_num:20,

      }
    },

    created(){
      //打开 旋转加载
      this.$Spin.show();
      this.$http.get(this.$root.IP + "ERP_Device_Api/?page=1&row_num=" + this.row_num, {
        params:{
        }
      }).then(res=>{
        this.$Spin.hide();
        if(res.data['code'] == 200)
        {
          this.data1 = res.data['data'];
          this.Page_total = res.data["Page_total"];
        }
        else
        {
          this.$Message.error(res.data["msg"]);
        }

        

      })
    },
    methods: {
      
              // 换页
      change_page(i){
        //打开 旋转加载
        this.$Spin.show();
        this.$http.get(this.$root.IP + "ERP_Device_Api/?page=" + i + "&row_num=" +  this.row_num, {
          params:{
          }
        }).then(res=>{
            this.$Spin.hide();
            if(res.data['code'] == 200)
            {
              this.data1 = res.data['data'];
              this.Page_total = res.data["Page_total"];
            }
            else
            {
              this.$Message.error(res.data["msg"]);
            }
        })
      },

    },
  }
</script>