<style>
.Main_Box{
    position:relative;
    text-align:center
}
.login_box{
 position:absolute;
  margin:10% 40%;
  text-align:center;
  width: 400px;
  height: 300px;
  background: rgb(255, 255, 255);
  border:  1 px solid rgb(255, 255, 255);
  border-radius: 50px;
}

.login_box .Form_box{
    margin:0 auto;
    font-size: 30px;
    color: #000000;
}

.login_box .FormItem_box{
    width: 250px;
    margin-top: 10%; 
}

.login_box .bt_box{
   margin:0% auto;
   
}

</style>
<template>
    <div class="Main_Box">

        <div :style="back_img"></div>

        <div class="login_box">
            <span class="Form_box">登录</span>
            <Form ref="formInline" :model="formInline" :rules="ruleInline" inline > 

                <FormItem prop="user" class="FormItem_box">
                    <Input type="text" v-model="formInline.user" placeholder="用户名">
                        <Icon type="ios-person-outline" slot="prepend"></Icon>
                    </Input>
                </FormItem>

                <FormItem prop="password" class="FormItem_box">
                    <Input type="password" v-model="formInline.password" placeholder="密码">
                        <Icon type="ios-lock-outline" slot="prepend"></Icon>
                    </Input>
                </FormItem>
                
                <div class="bt_box" >
                    <Button type="primary" @click="handleSubmit()">登录</Button>
                    <Button type="primary" @click="regist()">注册</Button>
                </div>
            </Form>
        </div>
    </div>
</template>
<script>
import util from '@/util'
    export default {
        data () {
            return {

                back_img:{
                    position: 'absolute',
                    backgroundImage: "url(" + require("../../assets/index.jpg") + ")",
                    backgroundRepeat:'no-repeat',
                    backgroundPosition: "center",
                    backgroundSize:'100% 100%',
                    width: '1920px',
                    height: '1080px',
                },
                formInline: {
                    user: '',
                    password: ''
                },
                ruleInline: {
                    user: [
                        { required: true, message: '请填写用户名', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: '请填写密码.', trigger: 'blur' },
                        { type: 'string', min: 6, message: '密码长度不能少于6位', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            handleSubmit() {
                //打开 旋转加载
                this.$Spin.show();
                var url = this.$root.IP + "Login/?username=" + this.formInline["user"] +"&password=" +this.formInline["password"]+'&type=WEB'; 
                this.$http.get(url, {
                    params:{
                    }
                }).then(res=>{
                    this.$Spin.hide();
                    if(res.data["code"] == 200)
                    {
                         util.storage.set('LoginUser',res.data["User"])
                         console.log(util.storage.get('LoginUser'))
                        // 判断是否是超级用户
                        if (!res.data["superuser"]){

                            this.$Message.success('成功登陆！');
                            this.$root.platform = res.data["type"]
                            this.$router.push('/');
                        }
                        else{
                            this.$Message.success("成功登陆管理员后台！");
                            this.$router.push('/manager');
                        }

                       
                    }  
                    else
                    {
                        this.$Spin.hide();
                        this.$Message.error(res.data["msg"]);
                    } 
                }).catch(e=>{
                    this.$Spin.hide();
                    this.$Message.error('服务器繁忙请稍后重试！');
                });
            },
            regist(){
                this.$router.push('/regist');
            }
        }
    }
</script>
