<template>
   <div>
    <Checkbox-group v-model='social'  v-for="(item, index) in data" :key="index" @click="locateBuilding()">
        <Checkbox :label="index" >
            <Icon type="social-twitter"></Icon>
            <span>{{item.tag}}</span>
        </Checkbox>
    </Checkbox-group>

    <button @click=" locateBuilding">hello </button>
   </div>
</template>
<script>
    export default {
        data () {
            return {
                data:[ 
                    { tag: '厂房1' },
                    { tag: '厂房2' },
                    { tag: '厂房3' },
                    { tag: '厂房4' },
                    ],
                social: [],
            }
        },
        methods: {
            locateBuilding( ){
                console.log(this.social)
            },
        }
    }
</script>

