<style>
.Main_Box{
    position:relative;
    text-align:center
}
.registered_box{
    position:absolute;
    
    margin:10% 35%;
    text-align:center;
    width: 500px;
    height: 400px;
    background: rgb(255, 255, 255);
    border:  1 px solid rgb(255, 255, 255);
    border-radius: 50px;
}

.registered_box .Form_box{
    margin:10% auto;
    font-size: 30px;
    color: #ffffff;
}

.registered_box .FormItem_box{
    width: 400px;
}

.registered_box .bt_box{
   margin:10% auto;
   
}

</style>

<template>
    <div class="Main_Box">
        <div :style="back_img"></div>
        <div class="registered_box">
            <span class="Form_box">注册</span>
            
            <Form ref="formCustom" :model="formCustom" :rules="ruleCustom" :label-width="150">

                 <FormItem class="FormItem_box"  label="用户名" prop="username">
                    <Input type="text" v-model="formCustom.username"></Input>
                </FormItem>

                <FormItem  class="FormItem_box"  label="密码" prop="passwd">
                    <Input type="password" v-model="formCustom.passwd"></Input>
                </FormItem>

                <FormItem class="FormItem_box"  label="再次验证" prop="passwdCheck">
                    <Input type="password" v-model="formCustom.passwdCheck"></Input>
                </FormItem>

                <FormItem class="FormItem_box"  label="姓名" prop="name">
                    <Input type="text" v-model="formCustom.name" number></Input>
                </FormItem>

                <FormItem  class="FormItem_box" label="邮箱" prop="mail">
                    <Input v-model="formCustom.mail" placeholder="请输入e-mail"></Input>
                </FormItem>


                <div class="bt_box" >
                    <Button type="primary" @click="handleSubmit('formCustom')">提交</Button>
                    <Button @click="handleReset('formCustom')" style="margin-left: 8px">清除</Button>
                    <Button type="primary" @click="loginback()">返回登录</Button>
                    
                </div>
            </Form>
        </div>
    </div>
</template>
<script>
    export default {
        data () {
              const validateUser = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入你的账号'));

                }else{callback();}
                
            };
            const validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入你的密码'));
                } else {
                    if (this.formCustom.passwdCheck !== '') {
                        // 对第二个密码框单独验证
                        this.$refs.formCustom.validateField('passwdCheck');
                    }
                    callback();
                }
            };
            const validatePassCheck = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请重新输入你的密码'));
                } else if (value !== this.formCustom.passwd) {
                    callback(new Error('两个输入密码不匹配!'));
                } else {
                    callback();
                }
            };
            const validateAge = (rule, value, callback) => {
                if (value === '') {
                    return callback(new Error('姓名不能为空'));
                }
                // 模拟异步验证效果
                setTimeout(() => {
                    if (value === '') {
                        callback(new Error('姓名不能为空'));
                    } else {
                        callback();
                    }
                }, 1000);
            };
            
            return {
                back_img:{
                    position: 'absolute',
                    backgroundImage: "url(" + require("../../assets/index.jpg") + ")",
                    backgroundRepeat:'no-repeat',
                    backgroundPosition: "center",
                    backgroundSize:'100% 100%',
                    width: '1920px',
                    height: '1080px',
                },
                formCustom: {
                    username:'',
                    passwd: '',
                    passwdCheck: '',
                    name: '',
                    mail: ''
                },
                ruleCustom: {
                    username:[
                        { validator: validateUser, trigger: 'blur' }
                    ],
                    passwd: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    passwdCheck: [
                        { validator: validatePassCheck, trigger: 'blur' }
                    ],
                    mail: [
                        { required: true, message: '不能为空', trigger: 'blur' },
                        { type: 'email', message: '邮箱格式不对！', trigger: 'blur' }
                    ],
                    name: [
                        { validator: validateAge, trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            //  上传按钮
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    console.log(this.formCustom);
                    if (valid) {
                        var url = this.$root.IP + "CreateUser/?username="
                        //打开 旋转加载
                        this.$Spin.show();
                        this.$http.post(url, {
                            params:{
                                    name: this.formCustom.name,
                                    username:this.formCustom.username,
                                    password:this.formCustom.passwd,
                                    mail: this.formCustom.mail,
                            }
                        }).then(res=>{
                            this.$Spin.hide();
                            if(res.data["code"] == 200)
                            {
                                this.$Message.success(res.data["msg"]);
                                this.$refs[name].resetFields();
                            }
                            else{
                                this.$Message.error(res.data["msg"]);
                            }
                          
                        })

                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            },
             loginback(){
                this.$router.push('/login');
            }
        }
    }
</script>